name: Tag and Release

on:
  push:
    branches:
      - 'main'
    paths:
      - 'stack.env'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@main

      - name: Get next version
        uses: reecetech/version-increment@2024.10.1
        id: version
        with:
          scheme: conventional_commits
      
      - name: Tag and Release
        uses: BrandonStudio/tag-and-release@v1
        with:
          tag_name: ${{ steps.version.outputs.v-version }}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
